.product {
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: #fff2dc;
  text-align: center;
}

.h1-large {
  margin-bottom: 1.25rem;
}

.replace-me {
  color: #f25c05;
}

.replace-me span {
  text-decoration: underline;
}

.p-large {
  margin-bottom: 2.75rem;
}

.btn-solid-lg {
  display: block;
  margin-bottom: 1.75rem;
}

.text-container {
  margin-bottom: 5rem;
}
.btn-solid-reg {
  display: inline-block;
  padding: 1.375rem 2.25rem 1.375rem 2.25rem;
  border: 1px solid #ff5574;
  border-radius: 30px;
  background-color: #ff5574;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;
}
.btn-solid-reg:hover {
  background-color: transparent;
  color: #ff5574; /* needs to stay here because of the color property of a tag */
  text-decoration: none;
}

.card-icon .fas,
.card-icon .far {
  color: #8763ee;
  font-size: 2.5rem;
  line-height: 76px;
}

.card-icon.green {
  background-color: #defaeb;
}

.card-icon.green .fas,
.card-icon.green .far {
  color: #00d462;
}

.card-icon.blue {
  background-color: #e2ebfd;
}

.card-icon.blue .fas,
.card-icon.blue .far {
  color: #1f68f3;
}

.card-body {
  padding: 0;
}

.card-title {
  margin-bottom: 1rem;
}

.card-body p {
  margin-bottom: 1.125rem;
}
.awe {
  color: #f25c05;
}
.crm {
  background-color: white;
}
