<div class="container">
    <section class="row product">
        <div class="col-md-6">
            <div class="text-container">
                <h1 class="h1-large">The #1 CRM app for <span class="replace-me">small business, young startups, bootstrappers</span></h1>
                <p class="p-large">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dignissim, neque ut vanic barem ultrices sollicitudin</p>
                <!-- <button><a class="btn-solid-md" href="">Sign up for free</a></button> -->
                <button type="button" class="btn-solid-reg" data-bs-toggle="modal" data-bs-target="#myModal1">Sign Up for free
                </button>
            </div> 
        </div> 
        <div class="col-md-6">
            <div class="image-container">
                <img class="img-fluid" src="/assets/fly.svg" alt="alternative">
            </div> 
        </div> 
    </section> 

    <!-- <section id="features" class="cards-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="h2-heading">Ioniq CRM application is packed with <span>awesome features</span></h2>
                </div> 
            </div> 
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-icon">
                            <span class="fas fa-headphones-alt"></span>
                        </div>
                        <div class="card-body">
                            <div class="header">
                                <h4 class="card-title">Customer Lists</h4>            
                            </div>
                            <p>Et blandit nisl libero at arcu. Donec ac lectus sed tellus mollis viverra. Nullam pharetra ante at nunc elementum</p>
                        </div>
                    </div>
            

          
                    <div class="col-md-4">
                    <div class="card">
                        <div class="card-icon green">
                            <span class="far fa-clipboard"></span>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Sales Tracking</h4>
                            <p>Vulputate nibh feugiat. Morbi pellent diam nec libero lacinia, sed ultrices velit scelerisque. Nunc placerat justo sem</p>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-4">
                    <div class="card">
                        <div class="card-icon blue">
                            <span class="far fa-comments"></span>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Reporting Tool</h4>
                            <p>Ety suscipit metus sollicitudin euqu isq imperdiet nibh nec magna tincidunt, nec pala vehicula neque sodales verum</p>
                        </div>
                    </div>
                </div>

                </div> 
            </div>
        </div> 
    </section>  -->

    <section class="row crm">
        <div class="col-md-12">
            <div>
                <h2 class="h2">Ioniq CRM application is packed<br> with <span class="awe">awesome features</span></h2>

            </div>

        </div>

    </section>
    <section>
        
    </section>
    
</div> 

