<div class="container-destination">
    <section class="row" >
        <div class="col-md-6">
            <p id="topheading">Best Destinations around the world</p>
            <h1 id="mainheading">Travel, enjoy and live a new and full life</h1>
            <p id="middlecontent" class="text-muted">Built Wicket longer admire do barton vanity itself do in it.
                Preferred to sportsmen it engrossed listening. Park gate
                sell they west hard for the.</p>
            <a href="" id="findout">Find out more</a>
            <a href="" id="playdemo">
                <img src="/assets/yt.png" alt="" width="50px">
            </a>
            <b>Play Demo</b>

        </div>
        <div class="col-md-6" id="landing">

        </div>
    </section>


    <div class="mb-7 text-center" id="cat">
        <b id="category">CATEGORY</b>
        <h2 id="service">We offer Best Services</h2>
    </div>


    <div class="card">
    <section class="row" id="offer">
       
            <div class="col-md-3">
                    <div class="card" id="weather">
                        <img src="/assets/weather.png" alt="" class="img-fluid">
                        <div class="card-body">
                            <h3 class="card-title" style="color: #14183e;">Calculated Weather</h3>
                            <p class="card-text">Built Wicket longer admire do barton vanity itself do in it</p>
                        </div>
                        
                    </div>
             </div>


            <div  class="col-md-3">
                <div class="card" id="flight">
                    <img src="/assets/flight.png" alt="" class="img-fluid">
                    <div class="card-body">
                        <h3 class="card-title" >Best Flights</h3>
                        <p class="card-text">Engrossed listening. Park gate sell they west hard for the.</p>
                     </div>

                </div>
            </div>    
        <div class="col-md-3" >
            <div class="card">
                <img src="/assets/mic.png" class="img-fluid"alt="">
                <div class="card-body">
                    <h3 class="card-title" >Local Events</h3>
                    <p class="card-text">Barton vanity itself do in it. Preferd to men it engrossed listening.</p>
                </div>
            </div>  
        </div>
        <div  class="col-md-3" >
            <div class="card">
                <img src="/assets/wheel.png" alt="" class="img-fluid">
                <div class="card-body">
                    <h3 class="card-title">Customization</h3>
                    <p class="card-text">We deliver outsourced aviation services for military customers</p>
                </div>
        </div>
        </div>
    
    </section>
    </div>
    <!-- =============================================================================================== -->
    <h3>About Us</h3>
    <section class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills">
                <li class="nav-item-active">
                    <a href="#mission" class="nav-link" data-bs-toggle="pill">Our Mission</a>
                </li>
                <li class="nav-item">
                    <a href="#vision" class="nav-link" data-bs-toggle="pill">Our Vision</a>
                </li>
                <li class="nav-item">
                    <a href="#objective" class="nav-link" data-bs-toggle="pill">Our Objective</a>
                </li>
            </ul>
            <!-- Tab Content -->
            <div class="tab-content">
                <div class="tab-pane container active" id="mission">
                    <p class="text-muted p-2"> Mission Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                     Veniam repellat vitae facere odio deserunt obcaecati suscipit mollitia quisquam aperiam atque, tenetur magnam accusantium ratione ut, quod eaque voluptatem! Quia, accusamus.</p>
                </div>
                <div class="tab-pane container " id="vision">
                    <p class="text-muted p-2"> Vision Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                     Veniam repellat vitae facere odio deserunt obcaecati suscipit mollitia quisquam aperiam atque, tenetur magnam accusantium ratione ut, quod eaque voluptatem! Quia, accusamus.</p>
                </div>
                <div class="tab-pane container " id="objective">
                    <p class="text-muted p-2"> Objective Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                     Veniam repellat vitae facere odio deserunt obcaecati suscipit mollitia quisquam aperiam atque, tenetur magnam accusantium ratione ut, quod eaque voluptatem! Quia, accusamus.</p>
                </div>

            </div>

        </div>


    </section>
<!-- ==================================================================================================== -->
    <div class="mb-7 text-center">
        <b id="selling" style="color: #5e6282;">Top Selling</b>
        <h2 id="destination" style="color: #14183e;">Top Destinations</h2>
    </div>
    <!-- mb - margin-bottom, mt- margin top , ml- margin left, margin-right-->
    <!-- my - sets marginleft and right -->
    <!-- mx- sets margin top and bottom -->
    <section class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="/assets/tower.jpg" alt=""class="card img-top rounded">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5>
                            <a href="" class="linkcard">Rome, Italy</a>
                        </h5>
                        <span class="fs-4 text-muted ">$54k</span>
                    </div>
                    <div class="d-flex">
                        <h5 class="text-muted">10 Days Trip</h5>  
                    </div>
                   
                </div>
            </div>
            

        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/assets/tower1.jpg" alt=""class="card img-top rounded">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5>
                            <a href="" class="linkcard">London, UK</a>
                        </h5>
                        <span class="fs-4 text-muted ">$4.2k</span>
                    </div>
                    <div class="d-flex">
                        <h5 class="text-muted">12 Days Trip</h5>  
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/assets/tower.jpg" alt=""class="card img-top rounded">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5>
                            <a href="" class="linkcard">Rome, Italy</a>
                        </h5>
                        <span class="fs-4 text-muted ">$54k</span>
                    </div>
                    <div class="d-flex">
                        <h5 class="text-muted">28 Days Trip</h5>  
                    </div>
                   
                </div>
            </div>

        </div>

    </section>
    <!-- =================================================================================================== -->

    <h5 class="mt-4 text-muted">Easy and Fast</h5>
    <section class="row" id="very">
        <div class="col-md-6">
            <h1 id="easysteps">Book Your Next Trip In 3 Easy Steps</h1>
            <div class="d-flex md-0">
                <img src="/assets/locate.png" alt="" width="150">
                <div class="choose">
                    <b>Choose Destination</b>
                    <p>Choose your favourite place. No matter
                        where you travel inside the World.</p>
                </div>
            </div>

            <div class="d-flex md-0">
                <img src="/assets/locate2.png" alt="" width="150">
                <div class="choose">
                    <b>Make Payment</b>
                    <p>After find your perfect spot, make your
                        payment and get ready to travel.</p>
                </div>
            </div>
            <div class="d-flex md-0">
                <img src="/assets/locate3.png" alt="" width="150">
                <div class="choose">
                    <b>Reach Airport on Selected Date</b>
                    <p>Lastly, you have to arrive at the airport
                        on time and enjoy the vacation.</p>
                </div>
            </div>





        </div>
        <!-- close first 6 -->

        <div class="col-md-6">
            <div class="card" id="cardx">
                <img src="/assets/tower1.jpg" alt=""class="card img-top rounded img-fluid">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5>
                            <a href="" class="linkcard">Rome, Italy</a>
                        </h5>
                        <span class="fs-4 text-muted ">$54k</span>
                    </div>
                    <div class="d-flex">
                        <h5 class="text-muted">28 Days Trip</h5>  
                    </div>
                   
                </div>
            </div>
        </div>
        


    </section> <hr>
    <!-- ============================================================================================== -->

    <section class="row" id="test">
        <div class="col-md-6">
            <div>
                <b class="text-muted">Testimonials</b>
                <h1 id="say">What People Say 
                    About Us.</h1>

                     
            </div>
        </div>

        <div class="col-md-6">
            <div class="card" id="cardy">
                <img src="/assets/author.png" alt="" id="author" class="img-fluid" width="80px">
                <div class="card-body card1">
                    <div class="d-flex" id="next">
                    <p>"On the Windows talking painted pasture yet its express parties use. 
                        Sure last upon he same as knew next. Of believed or diverted no."</p>
                    </div>
                    <div id="cart">
                        <h5><b>Mike taylor</b></h5>
                        <p>Lahore, Pakistan</p>
                    </div>    

                </div>

            </div>

        </div>

    </section>
    <!-- ================================================================================= -->

    <section class="row">
        <div class="col-md-6">
            <div id="myCarousel" class="carousel carousel-fade" data-bs-ride="carousel">
                <!-- indicators -->
                <ol class="carousel-indicators" style="margin-bottom: 10%;">
                    <li data-bs-target ="#myCarousel" data-bs-slide-to="0" class="active bg-dark"></li>
                    <li data-bs-target ="#myCarousel" data-bs-slide-to="1" class="bg-dark"></li>
                    <li data-bs-target ="#myCarousel" data-bs-slide-to="2" class="bg-dark" ></li>

                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card card2">
                            <img src="/assets/locate.png" alt="" width="80">
                            <div class="card-body card1">
                                <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Eos explicabo ipsa mollitia enim consequatur, illo provident, ea beatae temporibus aut quod architecto expedita omnis rerum distinctio dignissimos voluptatum eaque. 
                                    Aspernatur.</p>

                            </div>

                        </div>

                    </div>
                    <!-- item 2 -->
                    <div class="carousel-item">
                        <div class="card card2">
                            <img src="/assets/mic.png" alt="" width="80">
                            <div class="card-body card1">
                                <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Eos explicabo ipsa mollitia enim consequatur, illo provident, ea beatae temporibus aut quod architecto expedita omnis rerum distinctio dignissimos voluptatum eaque. 
                                    Aspernatur.</p>

                            </div>

                        </div>

                    </div>
                    <!-- item 3 -->
                    <div class="carousel-item">
                        <div class="card card2">
                            <img src="/assets/locate3.png" alt="" width="80">
                            <div class="card-body card1">
                                <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Eos explicabo ipsa mollitia enim consequatur, illo provident, ea beatae temporibus aut quod architecto expedita omnis rerum distinctio dignissimos voluptatum eaque. 
                                    Aspernatur.</p>

                            </div>

                        </div>

                    </div>

                </div>
<!-- carousel inner -->
                <a href="#myCarousel" class="carousel-control-prev" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon bg-info" style="margin-left: 20px;"></span>
                </a>
                

                <a href="#myCarousel" class="carousel-control-next" data-bs-slide="next">
                    <span class="carousel-control-next-icon bg-info" style="margin-right: 20px;"></span>
                </a>
               



            </div>

        </div>

        <div class="col-md-6" id="perfect">
            <h2 >Perfect Solutions <br> <span> for your small business </span></h2>
            <p>Maecenas fringilla quam posuere, pellentesque est nec, gravida turpis. 
                Integer vitae mollis felis. Integer id quam id tellus hendrerit laciniad binfer</p>
            <p class="text-muted">Sed id dui rutrum, dictum urna eu, accumsan turpis. 
                Fusce id auctor velit, sed viverra dui rem dina</p>
            <a href="Read More" class="btn-solid-reg">Read More</a>        

        </div>

    </section><br><br>
    <!-- ====================================================================================== -->

    <section class="row">
        <div class="col-md-6">
            <div class="awesome">
                <h3>Awesome websites <br><span><b> built with tons of love</b></span></h3>

            </div>
            <div>
                <p class="text-muted">In gravida vitae nulla vitae tincidunt imperdiet ante.<br>
                     Pellentesque aliquet mi eu tortor dictum, non imperdiet ante viverra. <br>
                     Phasellus eget enim orci flig rine bilo</p>
            </div>

            <div class="d-flex count" id="count">
                <h2 class="plus">1250 +</h2>
                <h2 class="plus1">1380 +</h2>
            </div>
            <div class="d-flex">
                <p class="custom"> Happy Customers</p>
                <p class="solve">Issues Solved</p>
            </div>

        </div>
        <div class="col-md-6">
            <div>
                <img src="/assets/house3.svg" alt=""  class="img-fluid">
            </div>

        </div>

    </section><br><br>
    <!-- ==================================================================================== -->

  
</div>
<section class="row " id="footer">
    <div class="col-md-3 ">
    <h2 class="jad">Jadoo.</h2>
    <p class="text-muted">Book your trip in minute, get full Control for much longer.</p>

    </div>
    <div class="col-md-2">
        <h2>Company</h2>
        <ul>
            <li class="text-muted"><a >About</a></li>
            <li class="text-muted"><a >Careers</a></li>
            <li class="text-muted"><a >Mobile</a></li>
        </ul>

    </div>
    <div class="col-md-2">
        <h2>Contact</h2>
        <ul>
            <li class="text-muted">Help/FAQ</li>
            <li class="text-muted">Press</li>
            <li class="text-muted">Affiliate</li>
        </ul>

    </div>
    <div class="col-md-2">
        <h2>More</h2>
        <ul>
            <li class="text-muted"><a>Airlinefees</a></li>
            <li class="text-muted"><a>Airline</a></li>
            <li class="text-muted"><a>Fare tips</a></li>
        </ul>

    </div>
    <div class="col-md-3">
        <div class="d-flex">
        <img src="/assets/facebook.png" alt="" class="twi">
        <img src="/assets/instagram.png" alt="" class="twi">
        <img src="/assets/twitter3.png" alt=""class="twi">
        
        </div>
        <div>
            <h3 class="text-muted">Discover our app</h3>
        </div>
        <br>
        <button type="button" class="btn-solid-reg" data-bs-toggle="modal" data-bs-target="#myModal">Click Here
        </button>


    </div>

    

</section>
<!-- ================================================================================================== -->

<footer class="row" id="copyright">
    <div class="col-md-12">
        <b class=" text-white">Copyright 2021. All rights reserved</b>

    </div>

</footer>

<!-- trigger modal -->

<!-- modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Login</h5>
                <button type="button" class="btn-close " data-bs-dismiss="modal"> </button>

            </div>
            <div class="modal-body">
                <form action="">
                    <input type="email" placeholder="Your Email" class="form-control" id="email"><br>
                    <input type="submit" class="btn btn-info btn-sm btn-solid-reg" value="Subscribe-Now">

                </form>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info " data-bs-dismiss="modal">Close </button>

            </div>

        </div>
    </div>

</div>